/* === Default starts === */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Quicksand", serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root { /* === Change === */
  --sky-blue: #01ACFD;
  --black: #111111;
}

/* === Shared Styles === */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.btn {
  width: 197px;
  height: 50px;
  border: 0;
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.card {
  border: 0;
  border-radius: 18px;
  background-color: yellow;
  width: 30%;
  height: 476.78px;
  text-align: center;
  padding: 41px 54px;
}
.card > img {
  margin: 0 auto;
}
.card > h2 {
  margin: 32.8px auto 33.48px;
  font-size: 24.52px;
}
.card > p {
  color: rgb(128, 128, 128);
  margin-bottom: 38.67px;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.nav-logo {
  align-items: center;
  gap: 11px;
}
.nav > h1 {
  font-size: 2rem;
}
.nav-options {
  min-width: 30vw;
  font-size: 1.25rem;
  font-weight: 700;
  justify-content: space-between;
}
.nav-home {
  color: orange;
}
.nav-about {
  color: var(--sky-blue);
}
.nav-facilities {
  color: rgb(5, 212, 223);
}
.nav-admissions {
  color: rgb(93, 88, 239);
}
.nav-btn {
  background-color: orange;
  color: white;
}
.nav-svg, .nav-line {
  display: none;
}

.hero {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.hero-content {
  max-width: 45%;
  margin: auto 0;
}
.hero-title {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.hero-title-orange {
  color: orange;
}
.hero-title-skyblue {
  color: var(--sky-blue);
}
.hero-description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.hero-btn {
  font: 1.25rem;
  color: white;
  background-color: black;
}

.curriculum {
  background-image: url("../assets/bg.png");
  margin: 60px auto;
}
.curriculum > h1 {
  font-size: 2.875rem;
  text-align: center;
}
.curriculum-cards {
  max-width: 70%;
  margin: 80px auto;
  justify-content: space-between;
}
.curriculum-cards > .skyblue {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.curriculum-cards > .skyblue > h4 {
  color: var(--sky-blue);
}
.curriculum-cards > .yellow {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.curriculum-cards > .yellow > h4 {
  color: rgb(240, 170, 0);
}
.curriculum-cards > .purple {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.curriculum-cards > .purple > h4 {
  color: rgb(135, 0, 255);
}

.slider {
  justify-content: center;
  gap: 10px;
}
.slider-left {
  height: 60px;
  width: 60px;
}
.slider-right {
  height: 60px;
  width: 60px;
}

.footer {
  background-color: rgb(1, 172, 253);
  color: white;
  height: 519px;
}
.footer-content {
  padding: 123px 228.9px 174px 140px;
  justify-content: space-evenly;
  height: 222px;
}
.footer-left {
  width: 28%;
}
.footer-left > p {
  font-size: 1.25rem;
  font-weight: 400;
}
.footer-logo {
  margin-bottom: 35.68px;
}
.footer-logo > h1 {
  font-size: 42.14px;
  line-height: 39.51px;
  margin-left: 23.26px;
}
.footer-middle {
  gap: 20px;
}
.footer-middle > h3 {
  font-size: 1.5rem;
}
.footer-middle > a {
  font-size: 1.25rem;
  color: white;
}
.footer-social > h3 {
  font-size: 1.625rem;
  margin-bottom: 32px;
}
.footer-social-logo {
  gap: 10.15px;
}

@media screen and (max-width: 576px) {
  .nav-options, .nav-btn, .nav-logo > h1 {
    display: none;
  }
  .nav-svg {
    display: block;
  }
  .nav-line {
    display: block;
    border: 0.5px solid orange;
  }
  main {
    margin: auto 16.5px;
  }
  .hero {
    margin: 20px 16.5px;
    flex-direction: column;
  }
  .hero-content {
    max-width: 100%;
    text-align: center;
  }
  .hero-title {
    font-size: 2rem;
    max-width: 80%;
    margin: 20px auto;
  }
  .hero-description {
    margin-bottom: 20px;
    font-size: 0.875rem;
  }
  .hero-btn {
    font-size: 1rem;
  }
  .curriculum-cards {
    flex-direction: column;
  }
  .curriculum-cards > .yellow {
    margin: 12.3px auto;
  }
  .card {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 36px 28px;
  }
  .slider {
    display: none;
  }
  .footer {
    min-height: 100vh;
  }
  .footer-content {
    flex-direction: column;
    padding: 60px 20px;
    justify-content: start;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left > p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .footer-social {
    margin: 32px 0 60px;
  }
}/*# sourceMappingURL=style.css.map */